{% extends '::base.html.twig' %}
{% block body %}
    {% if task is defined %}
        <h2>Editing task {{ task.id }} <a href="{{ path('task_archive', {'id': task.id}) }}">archive</a></h2>
    {% else %}
    <h2>Creating a task</h2>
    {% endif %}
    <div class="form">
        <form action="{% if task is defined %}
                        {{ path('task_edit', {'id': task.id}) }}
                    {% else %}
                        {{ path('task_create') }}
                    {% endif %}" method="post">
            {{ form_rest(form) }}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
